<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxlt.udic.riskcontrol.website.persistance.mapper.TargetFileMapper">
    <resultMap id="idInfoMap" type="com.jxlt.udic.riskcontrol.website.model.TargetFile">
        <id  column="target_id" property="target_id"/>
        <result column="fileId" property="fileId"/>
        <result column="target" property="target"/>
    </resultMap>
</mapper>